<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
 integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
 crossorigin="anonymous"></script>

    <script src="js/tabler.min.js"></script>
    <script src="js/demo.min.js"></script>
    <script src="js/index.js"></script>

    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <p style="text-align: center">
                Copyright &copy; 2023
                <a href="." class="link-secondary">Precious Kosisochukwu</a>.
                All rights reserved.
            </p>
        </div>
    </footer>
  </div>
</div>
</body>
</html>